{% extends "superStore_website/home.html" %}
{% block content %}
  <!--Main layout-->
  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body" method='POST' action="{% url 'receipt' %}">
               {% csrf_token %}

               <h4>User Information: </h4><br>
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName <div class="md-form ">-->
                  <div>
                    <input type="text" name="first_name" class="form-control">
                    <label>First name</label>
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column <div class="col-md-6 mb-2">-->
                <div>

                  <!--lastName-->
                  <div class="md-form">
                    <input type="text" name="last_name" class="form-control">
                    <label>Last name</label>
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--email  <div class="md-form mb-5">-->
              <div>
                <input type="text" name="email"class="form-control" placeholder="youremail@example.com">
                <label>Email</label>
              </div>

              <hr>
              <h4>Billing Address: </h4><br>

              <!--address class="md-form mb-5"-->
              <div >
                <input type="text" name="address" class="form-control" placeholder="1234 Main St">
                <label>Address</label>
              </div>

              <!--address-2 class="md-form mb-5"-->
              <div>
                <input type="text" name="altaddress" class="form-control" placeholder="Apartment or suite">
                <label>Address Line 2 (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  <select class="custom-select d-block w-100" id="country" name="country" required>
                    <option value="">Choose...</option>
                    {% for ct in form.country %}
                      {{ ct }}
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label>State</label><br>
                  <select class="custom-select d-block w-100" id="stateOne" name="stateOne" required>
                    <option value="">Choose...</option>
                    {% for st in form.state %}
                      {{ st }}
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="city">City</label>
                  <input type="text" class="form-control" name="city" placeholder="" required>
                  <div class="invalid-feedback">
                    City required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->
              <div class="col-lg-4 col-md-6 mb-4">

                <label for="zip">Zip</label>
                <input type="text" class="form-control" name="zipCode" placeholder="" required>
                <div class="invalid-feedback">
                  Zip code required.
                </div>

              </div>
              <hr>
               <!--
                 add code here
               -->
              <!--address class="md-form mb-5"-->
              <h4>Shipping Address: </h4><br>
              <div>
                <input type="text" name="shipAddLine_one" class="form-control" placeholder="1234 Main St">
                <label>Address</label>
              </div>

              <!--address-2 class="md-form mb-5"-->
              <div >
                <input type="text" name="shipAddLine_two" class="form-control" placeholder="Apartment or suite">
                <label>Address Line 2 (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  <select class="custom-select d-block w-100" id="shipCountry" name="shipCountry" required>
                    <option value="">Choose...</option>
                    {% for ct in form.shipCountry %}
                      {{ ct }}
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
              
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="shipState" name="shipState" required>
                      <option value="">Choose...</option>
                      {% for st in form.shipState %}
                        {{ st }}
                      {% endfor %}
                    </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="city">City</label>
                  <input type="text" class="form-control" name="shipCity" placeholder="" required>
                  <div class="invalid-feedback">
                    City required.
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  <input type="text" class="form-control" name="shipZipCode" placeholder="" required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
              <hr>
              <h4>Payment Method: </h4>

              <div >
                <div class="custom-control custom-radio">
                  {% for choice in form.paymentType %}
                  <div>
                    {{ choice }}
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" name="nameOnCd" placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" name="cardNum" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" name="expireDt" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="number" class="form-control" name="cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <h4>Delivery Option: </h4>
              {% for choice in form.deliveryOpt %}
              <div>
                {{ choice }}
              </div>
              {% endfor %}
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ order.get_cart_items|length }}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            {% for item in order.get_cart_items %}
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{ item.product.item_name }}</h6>
                  <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted" id="price">${{ item.product.price }}</span>
                <a href="{% url 'cart:delete_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" onclick="return confirm_delete();">
                  <i class="fas fa-trash"></i>
                </a>
              </li>
            {% endfor %}

            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success" id="discount">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$</strong><strong id="demo"></strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Coupon code -->
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Coupon code" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
              </div>
            </div>
          </form>
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% block scripts %}
  {{ block.super }}
  <script>
  function confirm_delete(){
    return confirm("Do you want to remove this item from cart?");
  }
  </script>
{% endblock scripts %}

<script type="text/javascript">
var total_amount = 0;

function total_price (x) {
  return x = x + {{ order.get_cart_total }} - parseFloat(document.getElementById("discount").innerHTML.replace(/\$/g,''));
}
document.getElementById("demo").innerHTML = total_price(total_amount);

</script>

{% endblock content %}


<!--
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="debit">Debit card</label>
                </div>
-->