{% extends "superStore_website/base.html" %}
{% block content %}

    {% for good in goods %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <h1><b>{{ good.item_name }} -  $ {{ good.price }}</b></h1>
            </div>
              <img class="resize" src="{{ good.goods_image.url }}" onclick="document.getElementById('modal01').style.display='block'">
              <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                  <div class="modal-content">
                      <div class="content">
                          <img class="modal_image" src="{{ good.goods_image.url }}">
                          <br>{{ good.item_name }} </br>
                          <br>Price: ${{ good.price }} </br>
                          <br>Stock: {{ good.item_stock }} </br>
                          <br>Freshness: {{ good.freshness }} </br>
                      </div>
                      <p>Description: {{ good.description }}</p>
                      <button class="button">Add to Cart</button>
                  </div>
              </div>
              <p class="article-content">{{ post.content }}</p>
              <button>Add To Cart</button>
          </div>
        </article>
    {% endfor %}

{% endblock content %}