{% extends "superStore_website/base.html" %}
{% block content %}


    {% for good in goods %}

            <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h4><b>{{ good.item_name }} -  $ {{ good.price }}</b></h4>
                    <pre class="tab">Stock: {{ good.item_stock }}       Freshness: {{ good.freshness }}</pre>
                    <button>Add To Cart</button>
                </div>
                    <a href="{{ good.goods_image.url }}" data-lightbox="gallery" data-title="{{ good.item_name }}">
                        <img class="resize" src="{{ good.goods_image.url }}">
                    </a>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </article>

    {% endfor %}

{% endblock content %}