{% extends "superStore_website/base.html" %}
{% block content %}
    {% for good in goods %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a href="{% url 'test:product' %}" id="Button">
                    <h4><b>{{ good.item_name }} -  $ {{ good.price }}</b></h4>
                </a>
                <button onclick="addtocart({{ good.id }})">Add To Cart</button>
                <a href="{% url 'test:add_to_cart' good.id %}">Add to Cart</a>
                <h1>{{ request.session.username }}</h1>

            </div>
                <a href="{{ good.goods_image.url }}" data-lightbox="gallery" data-title="{{ good.item_name }}">
                    <img class="resize" src="{{ good.goods_image.url }}">
                </a>
                <a href="{% url 'test:order_summary' %}">Go to Cart</a>
   <!--             <form action="{% url 'test:order_summary' %}">
               <input type="hidden" name="p" value="{{ good.item_name }}" />
                    <input type="hidden" name="list" id="cart_list">
                    <input type="submit" value="View Product Details">
                </form> -->
              <p class="article-content">{{ post.content }}</p>
          </div>
        </article>

    {% endfor %}

                <script type="text/javascript">
                    var list = [];

                    function addtocart(x) {
                        list.push(x);
                        document.getElementById("cart_list").innerHTML = list;
                        console.log(list);
                    }
                </script>

{% endblock content %}
