{% extends "superStore_website/base.html" %}
{% block content %}
<main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Order Confirmation</h2>
        <h1> Thank you for your purchase!</h1>
          <table>
            <tr>User Information:
              </br>First Name: {{ firstName }} Last Name: {{ lastName }}
              </br>Email: {{ email }}
              </br>Shipping Address: {{ address }}
            </tr>
            <tr>Billing Information:
              </br>Billing Address: {{ altaddress }}
              </br>Card Number: {{ cardNum }}
            </tr>
               <!-- Cart -->
            <h1>Your Order</h1>
            <ul class="list-group mb-3 z-depth-1">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Product name</h6>
                  <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$12</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Second product</h6>
                  <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$8</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Third item</h6>
                  <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                  <h6 class="my-0">Promo code</h6>
                  <small>EXAMPLECODE</small>
                </div>
                <span class="text-success">-$5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>$20</strong>
              </li>
            </ul>
            <!-- Cart -->
            </tr>
          </table>
    </div>
</main>
<!--Main layout-->
{% endblock content %}